<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Welcome to my world!</h1>

<!-- create hyper link to youtube that opens in a new tab -->
<a href="https://www.youtube.com/watch?v=jb2qnkvClqw" target="_blank">37:00'da kaldın. Custom css ekleyeceksin. Static dosyalar filan..</a>

<div class="container-fluid">
    <div class="header">

    </div>
    <div class="content">
        <div class="row">
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>